[submodule "lib/websocketpp"]
	path = lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib
[submodule "lib/uWebSockets"]
	path = lib/uWebSockets
	url = https://github.com/uNetworking/uWebSockets
